<div class="about" id="about">
  <div class="container">
    <h2>About</h2>
    <span class="seperator"></span>
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="about__image img-container">
          <img
            class="img-fluid"
            src="https://picsum.photos/800/800"
            alt="My-image"
          />
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="about__content">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam
            molestias sed velit alias animi quas quaerat. Temporibus possimus
            odio libero inventore blanditiis, nostrum illo, sed, repudiandae a
            tempore porro facilis.
          </p>
          <div class="about__list">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12">
                <ul>
                  <li>
                    <span class="material-icons"> arrow_forward_ios </span>lorem spam dolor
                  </li>
                  <li>
                    <span class="material-icons"> arrow_forward_ios </span>lorem spam dolor
                  </li>
                  <li>
                    <span class="material-icons"> arrow_forward_ios </span>lorem spam dolor
                  </li>
                  <li>
                    <span class="material-icons"> arrow_forward_ios </span>lorem spam dolor
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <ul>
                  <li>
                    <span class="material-icons"> arrow_forward_ios </span>lorem spam dolor
                  </li>
                  <li>
                    <span class="material-icons"> arrow_forward_ios </span>lorem spam dolor
                  </li>
                  <li>
                    <span class="material-icons"> arrow_forward_ios </span>lorem spam dolor
                  </li>
                  <li>
                    <span class="material-icons"> arrow_forward_ios </span>lorem spam dolor
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis enim
            deleniti aut tempore accusamus molestiae. Architecto, minima ullam
            placeat numquam similique, ipsum explicabo inventore mollitia
            ratione aut maxime ab amet facilis sapiente perspiciatis ipsa. Nulla
            quasi iusto alias at commodi? Ea provident, doloribus delectus
            distinctio porro quam consequuntur labore debitis.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
