<div class="about" id="about">
  <div class="container">
    <h2>About</h2>
    <span class="seperator"></span>
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="about__image img-container">
          <img
            class="img-fluid"
            src="assets/img/armyBlank.jpeg"
            alt="My-image"
          />
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="about__content">
          <h2>UI/UX Designer & Web Developer.</h2>

          <div class="about__list">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12">
                <ul>
                  <li>
                    <span class="material-icons"> arrow_forward_ios </span
                    >Birthday: 24 Dec 1992
                  </li>
                  <li>
                    <span class="material-icons"> arrow_forward_ios </span>
                    Website: https://juda-star.github.io/MoviesApp
                  </li>
                  <li>
                    <span class="material-icons"> arrow_forward_ios </span
                    >Phone:052-664-8599
                  </li>
                  <li>
                    <span class="material-icons"> arrow_forward_ios </span>City:
                    Petah-Tikva, Israel
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <ul>
                  <li>
                    <span class="material-icons"> arrow_forward_ios </span>
                    Age: 29
                  </li>
                  <li>
                    <span class="material-icons"> arrow_forward_ios </span
                    >Degree:Full Stack Developer
                  </li>
                  <li>
                    <span class="material-icons"> arrow_forward_ios </span
                    >Email: juda.ishta@gmail.com
                  </li>
                  <li>
                    <span class="material-icons"> arrow_forward_ios </span>
                    Freelance: Available
                  </li>
                </ul>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
