<section class="resume" id="resume">
  <div class="resume__skills">
    <div class="container">
      <h2>Skills</h2>
      <span class="seperator"> </span>

      <ul class="d-flex">
        <li><i class="devicon-angularjs-plain"></i></li>
        <li><i class="devicon-react-original"></i></li>
        <li><i class="devicon-css3-plain"></i></li>
        <li><i class="devicon-html5-plain"></i></li>
        <li><i class="devicon-javascript-plain"></i></li>
      </ul>
    </div>
  </div>


  <div class="resume__details">
    <div class="container">
      <h2>Resume</h2>
      <span class="seperator"> </span>
      <div class="row">
        <h2>S u m m a r y</h2>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="resume__resume-item">
            <h2>E d u c a t i o n</h2>
            <h3>
              2020-2021 Full Stack Developer Tech-Career Technological Training
              , 800 Hours Development Programming Course - Applications and Web.
            </h3>
            <ul>
              <li>Course contents as part of bootcamp.</li>
              <li>Client side: HTML, CSS, JavaScript, React, Angular, TypeScript, Bootstrap,Material Ui, GitHub</li>
              <li>IDE: Visual studio code, Visual studio.</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="resume__resume-item">
            <h2>V o l u n t e e r</h2>
            <h3>
              2014-2015 FIDEL ASSOCIATION FOR EDUCATION AND SOCIAL INTEGRATION
              OF ETHIOPIANS IN ISRAEL, PETAH TIKVA
            </h3>
            <ul>
              <li>Volunteer Football coach</li>
              <li>Inspire players</li>
              <li>Train kids Determine game plans and tactics</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="resume__resume-item">
            <h2>Yehooda Ishta</h2>
            <i></i>
            <ul>
              <li>good leadership skills.</li>
              <li>finding creative solutions to problems.</li>
              <li>like to learn new skills</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
