<section class="resume" id="resume">
  <div class="resume__skills">
    <div class="container">
      <h2>Skills</h2>
      <span class="seperator"> </span>

      <ul class="d-flex">
        <li><i class="devicon-angularjs-plain"></i></li>
        <li><i class="devicon-react-original"></i></li>
        <li><i class="devicon-javascript-plain"></i></li>
      </ul>
    </div>
  </div>
  <div class="resume__details">
    <div class="container">
      <h2>Resume</h2>
      <span class="seperator"> </span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iste iure
      doloremque praesentium obcaecati quasi, quam deleniti harum ad ex aperiam!
      Modi dolorum iste deleniti?
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <h2>Summery</h2>
          <div class="resume__resume-item">
            <h3>Yehooda Ishta</h3>
            <i
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem
              fugiat reprehenderit omnis cum voluptate dolor!</i
            >
            <ul>
                <li>Email:juda.ishta@gmail.com</li>
                <li>Phone:052-664-8599</li>
                <li>github:</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12"></div>
      </div>
    </div>
  </div>
</section>
